.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body
{
  background-color: #282c34;
}

.border{
  border-radius: 30px;
}
.chan{
  text-align: justify right;
}
h1{
  color: white;
  background: transparent;
  background-color: #8566aa;
  padding: 6px 0 2px 0;
  margin-bottom: 10px ;
  box-shadow: 5px 5px 15px -15px rgb(0,0,0,0.3); ;
}

input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa ;
  outline: none;
}
button{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  display: inline-block;
  background-color: #73AD21;
}

.inle{
  box-sizing: content-box;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  /* align-self: center; */
  border-radius: 20px;
  background-color: rgb(41, 182, 41);
}
.center {
  margin: auto;
  width: 40%;
  border: 3px solid #73AD21;
  padding: 10px;
 background-color: azure;
  text-align: center;
  align-items: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cng{
  display: inline-block;
  background-color: lightcoral;
}
li{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5%;
  font-weight: bold;
  text-decoration: line-through;
  width: fit-content;
  width: 100px;
  text-transform: capitalize;
}